*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

h3 {
    text-align: center;
}


div{
    text-align: center;

}

.header-image {
    width: 600px;
}

.header-image img {
    width: 100%;
}



img {
    margin-top: 10px;
    border-radius: 20px;
    height: 500px; 
}
